*.o
*.lo
*.la
.*.swp
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cscope.out
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
tags
autom4te.cache

dsme/dsme
dsme/dsme-server

debian/*.log
debian/libiphb0
build-stamp
configure-stamp
debian/dsme-dbg.substvars
debian/dsme-dbg/
debian/dsme.substvars
debian/dsme/
debian/files
debian/hbtest-dbg.substvars
debian/hbtest-dbg/
debian/hbtest.substvars
debian/hbtest/
debian/libiphb-dev.substvars
debian/libiphb-dev/
debian/libiphb0-dbg.substvars
debian/libiphb0-dbg/
debian/libiphb0.substvars
debian/tmp/

dsme.init

getbootstate/getbootstate

iphbd/hbtest
iphbd/libiphb.pc
iphbd/libiphb-uninstalled.pc

m4/
util/batttest
util/bootstate
util/dsmereboot
util/dsmetest
util/dsmetool
util/waitfordsme

