[Unit]
Description=DSME
DefaultDependencies=no
After=local-fs.target syslog.target usb-moded.service
Conflicts=shutdown.target

[Service]
Type=notify
# When starting dsme gets initial runlevel from the bootstate file
# If it doesn't exist, we default to USER
# This works because EnvironmentFile overrides Environment
ControlGroup=cpu:/
Environment=BOOTSTATE=USER
EnvironmentFile=-/run/systemd/boot-status/bootstate
ExecStart=/usr/sbin/dsme -p /usr/lib/dsme/libstartup.so --systemd
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
