Source: dsme
Section: misc
Priority: optional
Maintainer: Semi Malinen <semi.malinen@nokia.com>
Uploaders: Ismo Laitinen <ismo.laitinen@nokia.com>, David Weinehall <david.weinehall@nokia.com>, Philippe De Swert <philippe.de-swert@nokia.com>
Build-Depends: debhelper (>= 4.1.0),
 libdsme0.2.0-dev (>= 0.61.1),
 libbmeipc-dev,
 libcal-dev (>= 0.2.0),
 pkg-config,
 libglib2.0-dev,
 libdbus-1-dev (>= 1.0),
 libdbus-glib-1-dev,
 python
Standards-Version: 3.7.2

Package: dsme
Section: misc
Architecture: any
Depends: ${shlibs:Depends}
Replaces: iphbd
Provides: iphbd
Conflicts: iphbd
Description: Device State Management Entity
 This package contains the Device State Management Entity which provides state
 management features such as service monitoring, process watchdog and
 inactivity tracking.

Package: dsme-dbg
Section: devel
Priority: extra
Architecture: any
Depends: dsme (= ${binary:Version})
Replaces: iphbd-dbg
Provides: iphbd-dbg
Conflicts: iphbd-dbg
Description: Device State Management Entity (with debug symbols)
 This package contains the Device State Management Entity which provides state
 management features such as service monitoring, process watchdog and
 inactivity tracking.


Package: hbtest
Architecture: any
Depends: libiphb0 (>= 0.61.6)
Description: Test tool for IP Heartbeat service
 Command line utility to test IP Heartbeat functionality.

Package: hbtest-dbg
Priority: extra
Architecture: any
Depends: hbtest (= ${Source-Version})
Description: Debug symbols for hbtest
 This package provides debug symbols for the IP Heartbeat test tool.

Package: libiphb0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: API for IP Heartbeat service
 This package contains C API for using IP Heartbeat service.


Package: libiphb0-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: libiphb0 (= ${Source-Version})
Description: Debug symbols for libiphb0
 This package provides debug symbols for the IP Heartbeat API.

Package: libiphb-dev
Section: libdevel
Architecture: any
Depends: libiphb0 (= ${Source-Version}), ${shlibs:Depends}
Description: Development files for IP Heartbeat service
 This package contains C headers for the IP Heartbeat API.
